header {
  color: black; }
  header .navigation {
    font-size: 12px; }
  header .logo {
    width: 300px; }
  header.red {
    color: red; }
  .blue-theme header {
    color: blue; }

.pager-item {
  display: inline-block; }
