// main.scss

// <editor-fold desc="@for">
@for $i from 1 through 3 {
    .item-#{$i} { width: 2em * $i; }
}
// </editor-fold>

// <editor-fold desc="@each">
$list: puma, sea-slug, egret, salamander;

@each $animal in $list {
    .#{$animal}-icon {
        background-image: url('/images/#{$animal}.png');
    }
}

@each $header, $size in (h1: 2em, h2: 1.5em, h3: 1.2em) {
    #{$header} {
        font-size: $size;
    }
}
// </editor-fold>

// <editor-fold desc="@while">
$j: 6;
@while $j > 0 {
    .item-#{$j} { width: 2em * $j; }
    $j: $j - 2;
}
// </editor-fold>